<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <span>ToDos SPA</span>
  <span style="flex: 1 1 auto"></span>
  <button mat-button *ngIf="true">
    Log In
  </button>

  <button mat-button *ngIf="false">
    Log Out
  </button>
</mat-toolbar>

<mat-sidenav-container class="mat-typography">
  <mat-sidenav #sidenav autoFocus=false fxLayout="column" fxLayoutAlign="start start" fixedInViewport fixedTopGap="64">
    <mat-nav-list>
      <a mat-list-item href="#">Settings</a>
      <a mat-list-item href="#">Hello</a>
      <a mat-list-item href="#">World</a>
    </mat-nav-list>
    <div fxFlex></div>
    <div class="mat-caption">
      <p>{{environmentName}}</p>
      <p>API Gateway URI: {{apiGatewayUri}} </p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" fxLayoutAlign="stretch center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>ToDos SPA</mat-card-title>
        <mat-card-subtitle>
          Sample Angular ToDo app
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Security">
            <ng-template mat-tab-label>
              <mat-icon>security</mat-icon>
            </ng-template>
            <div class="tab-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis
                vulputate.
              </p>
              <p>
                Etiam consequat aliquam cursus. In sodales pretium ultrices.
              </p>
            </div>
          </mat-tab>
          <mat-tab label="Attachment">
            <ng-template mat-tab-label>
              <mat-icon>attach_file</mat-icon>
            </ng-template>
            <div class="tab-content">
              <p>{{environmentName}}</p>
              <p>API Gateway URI: {{apiGatewayUri}} </p>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-form-field style="width: 50%" hintLabel="At most 100 characters">
        <mat-label>Random text</mat-label>
        <input #input matInput maxlength="100" placeholder="Enter a random text">
        <button mat-button *ngIf="input.value" matSuffix mat-icon-button (click)="input.value=''">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
      </mat-form-field>

      <br />
      <br />
      <mat-divider></mat-divider>
      <br />
      <br />

      <mat-form-field>
        <mat-select placeholder="Material Design Select" [(value)]="selectedValue">
          <mat-option value="Hello">Hello</mat-option>
          <mat-option value="World">World</mat-option>
        </mat-select>
      </mat-form-field>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <mat-form-field appearance="fill">
        <mat-label>Selected</mat-label>
        <input matInput disabled [(ngModel)]="selectedValue">
        <mat-icon matSuffix>done</mat-icon>
      </mat-form-field>

      <mat-divider></mat-divider>
    </mat-card>

    <mat-card style="min-height: 600px">
      <div [@routerTransition]="page.isActivated ? page.activatedRoute : null">
        <router-outlet #page="outlet"></router-outlet>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="progress-bar" [hidden]="!isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
